


body {
	background-image: url("assets/images/pink_rice.png");
}

header {

	background: #ffffff;
	padding: 30px;
	margin-bottom: 20px;
	border: #cccccc;
	
}

.headerContent {
	float: right;
	padding: 10px;


}

.yourName {
	position: absolute;
	background: #eee;
	padding: 40px;
	text-align: center;
	margin: 0;
	top: 0;
	left: 40px;

}

.imageSize {
	width: 40px;
	height: 40px;

}

.aboutMe{
	float: left;
	background-color: #ffffff;
	border:  solid 5px #666666 ;
	width: 550px;
	height: 600px;
	padding: 50px;
	margin: 20px 10px 20px 10px;
}

.content{
	
		overflow: auto;
		
}

#aboutMeImage{

}

.connectWithMe{
	float: right;
	padding: 15px;
	
		
		background: #ffffff;

}

footer {
	position: relative;
	text-align: center;
	color: white;
	 clear: both;
     background: #666666;
  padding: 30px;
  margin: 20px 0px 0px 0px ;
  border: blue 0px solid;
 


}