


body {
	color: pink;
	background-image: url("assets/images/pink_rice.png");
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
	
}

textarea {
	width:300px;height:300px;
	
	

}

 

header {
	color: pink;
font-family: 'Georgia', Times, Times New Roman, serif;
	background: #ffffff;
	padding: 51px;

	margin-top: 0px;
	left: -10px;
	border: #cccccc;
	width: 100%;
	

	
}


.headerContent {
	color: pink;
	float: right;
	padding: 10px;


}

.yourName {
	color: #777777;
	position: absolute;
	background: #eee;
	padding: 40px;
	text-align: center;
	margin: 0;
	top: 10px;
	left: 100px;

}
.placeHolder {
		color: white;
	position: absolute;
	background: pink;
	padding: 11px;
	text-align: center;
	margin: 0;
	top: 401px;
	left: 171px;
	width:178px;

}

.placeHolder2 {
		color: white;
	position: absolute;
	background: pink;
	padding: 11px;
	text-align: center;
	margin: 0;
	top: 401px;
	left: 405px;
	width:178px;

}

.placeHolder3 {
		color: white;
	position: absolute;
	background: pink;
	padding: 11px;
	text-align: center;
	margin: 0;
	top: 570px;
	left: 171px;
	width:178px;

}
.placeHolder4 {
		color: white;
	position: absolute;
	background: pink;
	padding: 11px;
	text-align: center;
	margin: 0;
	top: 570px;
	left: 405px;
	width:178px;

}

.placeHolder5 {
		color: white;
	position: absolute;
	background: pink;
	padding: 11px;
	text-align: center;
	margin: 0;
	top: 730px;
	left:171px;
	width:178px;

}

.placeHolder6 {
		color: white;
	position: absolute;
	background: pink;
	padding: 11px;
	text-align: center;
	margin: 0;
	top: 730px;
	left: 405px;
	width:178px;

}






.imageSize {
	color: #777777;
	width: 40px;
	height: 40px;

}

img {
	
	overflow-wrap: 
}


.imageTd {
	width: 200px;
	height: 130px;
	padding: 15px;
}

.aboutMe{
	color: #777777;
	float: left;
	background-color: #ffffff;
	border:  solid 5px #666666 ;
	width: 550px;
	height: 600px;
	padding: 50px;
	margin: 20px -50px 20px 90px;

	
}

.content{
	color: #777777;
	
		overflow: auto;
		
}



.connectWithMe{
	color: #777777;

	float: right;
	padding: 15px;
	margin: 20px -40px 20px -10px;
	position: static;
	width: 150px;
	height: 150px;
	
	
		
		background: #ffffff;

}

footer {
	color: #777777;
	position: relative;
	text-align: center;
	color: white;
	 clear: both;
     background: #666666;
  padding: 40px;
bottom: -20px;
left: -20px;
right: 100px;
width: 100%;

  border: pink 4px solid;
 


}