
body {
	background-image: url("assets/images/pink_rice.png");
}

header {
	color: red;

}

.yourName {

}

.aboutMe{

}

.content{

}

#aboutMeImage{

}

.connectWithMe{

}

footer {
	
	color: white;
	 clear: both;
     background: #666666;
  padding: 30px;
  margin-top: 10px;
  border: pink 3px solid;
 

}