
body {
	background-image: url("assets/images/pink_rice.png");
}

header {
	color: red;

}

.yourName {

}

.aboutMe{

}

.content{

}

#aboutMeImage{

}

.connectWithMe{

}

footer{
	text-align: center;
	color: blue;

}